<% unless flash.now[:error].nil? %>
  <% flash.now[:error].each do |error| %>
    <li><%= error %></li>
  <% end %>
<% end %>

<%= form_for @user do |f| %>

First name: <%= f.text_field :first_name %><br />
Last name: <%= f.text_field :last_name %><br />
Email: <%= f.text_field :email %><br />
Password: <%= f.password_field :password %><br />
<%= f.submit %>

<% end %>