<h1>Results</h1>

<ul>
  <li>Total attendees: <%= @rsvps.length %></li>
  <li>Male attendees (est): <%= number_to_percentage(100 * @stats[:male_percentage], precision: 1) %></li>
  <li>Female attendees (est): <%= number_to_percentage(100 * @stats[:female_percentage], precision: 1) %></li>
  <li>Uncategorized attendees (est): <%= number_to_percentage(100 * @stats[:uncategorized_percentage], precision: 1) %></li>
  <li>Male-female ratio (est): <%= @stats[:ratio] %></li>
</ul>

<ul>
  <% @rsvps.each do |rsvp| %>

    <li><%= "#{rsvp.full_name}, #{rsvp.gender}" %></li>

  <% end %>
</ul>

<%= link_to "Try another", root_path %>
