<div class="container-fluid text-center">

<h1>Results</h1>

<p>Event Name: <a href="<%= @full_url %>"><%= @event_name %></a></p>

<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 text-center">
      <div>
        <i class="fa fa-female fa-3x" aria-hidden="true"></i>: <%= number_to_percentage(100 * @stats[:female_percentage], precision: 1) %>
        <i class="fa fa-male fa-3x" aria-hidden="true"></i>: <%= number_to_percentage(100 * @stats[:male_percentage], precision: 1) %>
      </div>
      <ul class="list-unstyled">
      <li>Uncategorized attendees: <%= number_to_percentage(100 * @stats[:uncategorized_percentage], precision: 1) %></li>
      <li id="percent-male" data-percent=<%= @stats[:male_percentage] %>>Total attendees: <%= @attendees.length %></li>
      <li>Male-female ratio: <%= number_with_precision(@stats[:ratio], precision: 2) %></li>
      </ul>
  </div>
  <div class="col-lg-2"></div>
</div>

<div id="percent-chart"></div>


<p><%= link_to "Search another Meetup", root_path %></p>

<p><a href="#" id="toggle-attendees">Show/hide attendees</a></p>

<ul id="attendees" class="list-unstyled">
  <% @attendees.each do |attendee| %>

    <li><%= "#{attendee.full_name}, #{attendee.gender}" %></li>

  <% end %>
</ul>



</div>