<h1>Results</h1>

<p>Event Name: <%= @event_name %></p>
<p>Original link: <%= @full_url %></p>

<ul>
  <li>Total attendees: <%= @attendees.length %></li>
  <li>Male attendees (est): <%= number_to_percentage(100 * @stats[:male_percentage], precision: 1) %></li>
  <li>Female attendees (est): <%= number_to_percentage(100 * @stats[:female_percentage], precision: 1) %></li>
  <li>Uncategorized attendees (est): <%= number_to_percentage(100 * @stats[:uncategorized_percentage], precision: 1) %></li>
  <li>Male-female ratio (est): <%= @stats[:ratio] %></li>
</ul>

<div id="percent-chart"></div>

<p><%= link_to "Try another", root_path %></p>

<p><a href="#" id="toggle-attendees">Show/hide attendees</a></p>

<ul id="attendees">
  <% @attendees.each do |attendee| %>

    <li><%= "#{attendee.full_name}, #{attendee.gender}" %></li>

  <% end %>
</ul>

